<h2>Status</h2>

<dl class="dl-horizontal">
  <dt>BTCplex block count</dt>
  <dd>{{.LastHeight}}</dd>

  <dt>Clamd block count</dt>
  <dd>{{.BitcoindInfo.Blocks}}</dd>
</dl>

<h3>Clamd getinfo</h3>

<dl class="dl-horizontal">
  <dt>Version</dt>
  <dd>{{.BitcoindInfo.Version}}</dd>

  <dt>Protocol version</dt>
  <dd>{{.BitcoindInfo.ProtocolVersion}}</dd>

  <dt>Blocks</dt>
  <dd>{{.BitcoindInfo.Blocks}}</dd>

  <dt>Time offset</dt>
  <dd>{{.BitcoindInfo.TimeOffset}}</dd>

  <dt>Money supply</dt>
  <dd>{{.BitcoindInfo.MoneySupply | formatfloat}}</dd>

  <dt>Dig supply</dt>
  <dd>{{.BitcoindInfo.DigSupply | formatfloat}}</dd>

  <dt>Stake supply</dt>
  <dd>{{.BitcoindInfo.StakeSupply | formatfloat}}</dd>

  <dt>Connections</dt>
  <dd>{{.BitcoindInfo.Connections}}</dd>

  {{if .BitcoindInfo.Proxy}}
  <dt>Proxy</dt>
  <dd>{{.BitcoindInfo.Proxy}}</dd>
  {{end}}

  <dt>Difficulty</dt>
  <dd>{{.BitcoindInfo.Difficulty}}</dd>

  <dt>Testnet</dt>
  <dd>{{.BitcoindInfo.Testnet}}</dd>

  {{if .BitcoindInfo.Errors}}
  <dt>Errors</dt>
  <dd>{{.BitcoindInfo.Errors}}</dd>
  {{end}}
</dl>
